/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 15px;
}

/* ---------------------------------------- */
/* HEADER sektion */
/* ---------------------------------------- */



header {
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;''
}

.knappe {
    position: absolute;
    width: 1140px;
    top: 40%;
    left: 24.5%;
    
}

.knap {
    display: inline-block;
    padding: 10px 80px;
}



