/* ---------------------------------------- */
/* Blå farve: #3498db */
/* ---------------------------------------- */


/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}



/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*---------- HEADINGS ---------- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    
}

h1 {
    margin-top 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
    
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
    
    
}

h2:after {
    display: block;
    height: 2px;
    background-color: #3498db;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    
}


h4 {
    margin-top 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 100%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
}

h6 {
    font-size: 100%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-top 0;
    margin-bottom: 20px;
    text-align: center;
}

/*---------- PARAGRAPHS ---------- */
.long-copy {
    line-height: 150%;
    text-align: center; 
    
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*---------- ICONS ---------- */
.icon-big {
    font-size: 350%;
    display: block;
    color: #3498db;
    margin-bottom: 10px;
}



/*---------- BUTTONS ---------- */
.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    background-color: #3498db;
    border-radius: 200px;
    color: #fff;
    border: 1px solid #3498db;
    transition: background-color 0.2s, border 0.2s;
    
}

    
.btn-full {
        margin-right: 15px;
    
}


.btn:hover,
.btn:active, 
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #2487c9;
    
}


/* ---------------------------------------- */
/* HEADER sektion */
/* ---------------------------------------- */



header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav  {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #3498db;
}



.section-features {
    background-image: url(img/om.jpg);

}


/* ---------------------------------------- */
/* Billeder Sektion */
/* ---------------------------------------- */

.sektion-billeder {
    padding: 0;
    
}

.billeder-showcase {
    list-style: none;
    width: 100%;
    
}

.billeder-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.foto {
    width: 100%;
    margin: 0;
    
}

.foto img {
    width: 100%;
    height: 300px;
    
     
}

/* ---------------------------------------- */
/* Events Sektion */
/* ---------------------------------------- */

.sektion-events {
    background-image: url(img/events.jpg);
}

.box img {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
}

.by {
    margin-bottom: 5px;
}

/* ---------------------------------------- */
/* Ildsjæle Sektion */
/* ---------------------------------------- */

.sektion-ild {
    background-image: url(img/ild.jpg);
}

.boxi img {
     width: 100%;
    height: 250px;
    margin-bottom: 15px;
    border-radius: 50%;
}


/* ---------------------------------------- */
/* Testimonials Sektion */
/* ---------------------------------------- */

.sektion-testimonials {
    background-image: url(img/borger.jpg);
   
    
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height:  145%;
    position: relative;
    
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
    
}


cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    width: 45px;
    vertical-align: middle;
    
}



/* ---------------------------------------- */
/* Kontakt Sektion */
/* ---------------------------------------- */

.sektion-kontakt {
    background-image: url(img/kontakt.jpg);
}

.kontakt-form {
    width: 60%; 
    margin: 0 auto;
    text-align: center;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input {
    margin-bottom: 20px;
}


/* ---------------------------------------- */
/* Footer Sektion */
/* ---------------------------------------- */

footer {
    background-image: url(img/footer.jpg);
}

footer p {
    padding: 20px;
    line-height: 30px;
}
